@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');

*{
	box-sizing: border-box;
}
body{
	background-color: #b8c6db;
	background-image: url(assests/img/bg.gif);
	background-size: cover;
	font-family: 'popins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.quiz-container{
	background-color: #D153B6;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 600px;
	overflow: hidden;
}
.quiz-header{
	padding: 4rem;	
}
h2{
	padding: 1rem;
	text-align: center;
	margin: 0;
}
h1{
	padding: 0.1rem;
	text-align: center;
	margin: 0;
	color: #03cae4;
	font-style: italic;
}
ul{
	list-style-type: none;
	padding: 0;
}
ul li{
	font-size: 1.2rem;
	margin: 1rem 0;
}
ul li label{
	cursor: pointer;	
}
.btn
{
    position: relative;
    width: 200px;
    height: 60px;
    background: rgba(255,255,255,0.1);
    border-radius:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255,255,255,0.5);
    text-decoration: none;
    letter-spacing: 2px;
    border-top:0.5px solid rgba(255,255,255,0.35);
    border-left:0.5px solid rgba(255,255,255,0.35);
   padding-left: 40px;
   transition: 0.5s;
   overflow: hidden;
}
.btn:hover
{
    padding-left: 0px;
    padding-right: 40px;
    color: rgba(255,255,255,1);
}
.btn span
{
  position: absolute;
  left: 5px;
  width: 50px;
  height: 50px;
  background:wheat;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5em;
}
.btn:hover span
{
    left: calc(100% - 55px);
}
.btn:after
{
 content: '';
 position: absolute;
 width: 80px;
 height:100%;
 z-index: 1;
 background: rgba(255,255,255,0.25);
 transform: translateX(-170px) skewX(30deg);
 transition: 0.75s ease-in-out;
}
.btn:hover:after{
    transform: translateX(170px) skewX(30deg);
}
