@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200&display=swap');

*{
	box-sizing: border-box;
}
body{
	background-color: #b8c6db;
	background-image: url(assests/img/bg.gif);
	background-size: cover;
	font-family: 'popins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.quiz-container{
	background-color: #D153B6;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	width: 600px;
	overflow: hidden;
}
.quiz-header{
	padding: 4rem;	
}
h2{
	padding: 1rem;
	text-align: center;
	margin: 0;
}
h1{
	padding: 0.1rem;
	text-align: center;
	margin: 0;
	color: #03cae4;
	font-style: italic;
}
ul{
	list-style-type: none;
	padding: 0;
}
ul li{
	font-size: 1.2rem;
	margin: 1rem 0;
}
ul li label{
	cursor: pointer;	
}
button{
	background-color: #03cae4;
	color: #fff;
	border: none;
	display: block;
	width: 100%;
	cursor: pointer;
	font-size: 1.1rem;
	font-family: inherit;
	padding: 1.3rem;
}
button:hover{
	background-color: #04adc4;
}
button:focus{
	outline: none;
	background-color: #44b927}